
{% extends "base.html" %}
{% block content %}

<html>
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
	{{ form.hidden_tag() }}
	<form class="login">
		<div class="container">
			<h1>Sign in</h1>
			<p>Please fill in this form to log in.</p>
			<hr />
			{{ form.username.label }} {{ form.username(size=32, placeholder="Enter username") }}
			{% for error in form.username.errors %}
			<span style="color: red;">{{ error }}</span>
			{% endfor %}
			{{ form.password.label }} {{ form.password(size=32, placeholder="Enter password") }}
			{% for error in form.password.errors %}
			<span style="color: red;">{{ error }}</span>
			{% endfor %}
			{{ form.submit(type="submit", class="registerbtn") }}
			<hr />
			<p>New user? <a href="{{ url_for('register') }}">Register</a></p>
		</div>
	</form>
</html>

{% endblock %}